/* GENERAL SETTINGS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(201, 193, 255);
}

.content_list{
    height: 80vh;
    padding: 20px;
    background-color: darkslateblue;
    color: white;
    overflow-y: auto;
    border-radius: 20px;
}

li{
    border-bottom: 1px solid white;
    margin-top: 10px;
}

.task_done{
    text-decoration: line-through;
    color: green;
}

.error_message{
    background-color: red;
    padding: 10px;
    border-radius: 15px;
}