<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--fontawesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <!--fonts google-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <!--bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!--css-->
        <link rel="stylesheet" href="./css/style.css">
        <title>Vue Todolist</title>
    </head>
    <body>
        
        <!--start app vue-->
        <div id="app">

            <!--start main-->
            <main>
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center mt-4 mb-4">
                            <h1>{{ title }}</h1>
                        </div>
                    </div>
                </div>   
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="content_list">
                                <h2>my to-do list</h2>
                                <hr>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-outline-primary" type="button" id="button-addon1" @click="addTask()">+ Add</button>
                                        <input type="text" class="form-control" placeholder="inserisci un nuovo task" aria-label="Example text with button addon" aria-describedby="button-addon1" v-model="new_task" @keyup.enter="addTask()">
                                  </div>
                                <ul class="list-unstyled">
                                    <li v-for="(item, index) in items">
                                        <div class="d-flex justify-content-between mb-2">     
                                            <div v-bind:class="item.done ? 'task_done' : ''">
                                                <div v-if="item.edit_disabled">
                                                    <input type="text" class="form-control" v-model="item.text">
                                                </div>
                                                <div v-else >
                                                {{ item.text }}
                                                </div>
                                            </div>
                                            <div>
                                                <button class="me-2 btn btn-sm" v-bind:class="item.done ? 'btn-success' : 'btn-dark'" @click="changeStatus(index)"><i class="fas" v-bind:class="item.done ? 'fa-check' : 'fa-x'"></i></button>
                                                <button class="me-2 btn btn-sm btn-primary" @click="editTask(index)"><i class="fas fa-edit"></i></button>
                                                <button class="btn btn-sm btn-danger" @click="deleteTask(index)"><i class="fas fa-trash"></i></button>
                                            </div> 
                                        </div>
                                    </li>                   
                                </ul>
                            </div>
        
                        </div>
                    </div>
                </div>
            </main>
            <!--end main-->   
        
        </div>
        <!--end app-->
        
        <!--vue-->
        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
        <!--js-->
        <script src="./js/script.js"></script>

    </body>
</html>